.ingredients_section {
  max-width: 600px;
}

.type_wrapper {
  display: grid;
  height: calc(100vh - 88px);
  overflow: scroll;
}


.type_wrapper::-webkit-scrollbar {
  width: 8px;
}
.type_wrapper::-webkit-scrollbar-track {
  background: var(--background-element);
}
.type_wrapper::-webkit-scrollbar-thumb {
  background: var(--text-inactive-color);
}
