.item_wrapper {
  display: flex;
  gap: calc(var(--offset-base-size) * 2);
  align-items: center;
}

.taste_wrapper {
  display: flex;
  gap: calc(var(--offset-base-size) * 4);
  flex-direction: column;
  max-height: calc(100vh - 350px);
}

.items {
  display: flex;
  gap: calc(var(--offset-base-size) * 4);
  flex-direction: column;
  overflow: auto;
}

.items::-webkit-scrollbar {
  width: 8px;
}
.items::-webkit-scrollbar-track {
  background: var(--background-element);
}
.items::-webkit-scrollbar-thumb {
  background: var(--text-inactive-color);
}
