.oder {
  max-width: 600px;
  padding: 100px 0 52px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.wrapper {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  width: 586px;
}

.price_wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}
